# Secrets
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET_KEY=

# Volumes
POSTGRES_DATA=
STREAM_DATA=
MEDIA_DATA=

# DB Credentials
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=vodSystem